<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.example.myapplication.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="RECEIVE_USER_PRESENT" />
    <uses-permission android:name="INTERNET" />
    <uses-permission android:name="WAKE_LOCK" />
    <uses-permission android:name="READ_PHONE_STATE" />
    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="WRITE_SETTINGS" />
    <uses-permission android:name="READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="VIBRATE" />
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:name=".base.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".job.view.activity.JobDetailActivity"></activity>
        <activity android:name=".message.view.activity.MessageActivity" />

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <activity android:name=".main.view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>